spring:
  application:
    name: appointment-servvice

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

feign:
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 5000

resilience4j:
 circuitbreaker:
    instances:
      doctorService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
      patientService:
        slidingWindowSize: 10

server:
  port: 1012

logging:
  level:
    root: info
